/* 
# Hello! Hope I am making this clear enough so you can modify it to your needs

# -------- About me --------- #
# author = Emiliano Samario   #
# github username = celepharn #
# mail = celephrn@hotmail.com #
# --------------------------- #

Also, check de documentation!
https://github.com/Alexays/Waybar/wiki
*/

* {
	* min-height: 10px;
	* font-family: "Noto Sans";
	* font-size: 10px;
	* border: none;
	* border-radius: 3px;
}

window#waybar {
	background-color:transparent;
	color: #ffffff;
	margin: 16px 16px;
	transition-property: background-color;
	transition-duration: 5s;
	border-top: 8px transparent;
	border-radius: 8px;
}

window#waybar.hidden {
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0.2;
}
#window {
	background: transparent;
	color: transparent;
	margin-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
}
#tags {
	background: #161320;
	margin-top: 4px;
	margin-bottom: 0px;
	margin-left: 12px;
	font-size: 4px;
	transition: none;
}
#tags button {
	background: transparent;
	color: #b5e8e0;
	font-size: 16px;
	transition: none;
	border-radius: 2px;
}
#tags button.occupied {
	background: transparent;
	color: #f28fad;
	font-size: 4px;
	transition: none;
}
#tags button.focused {
	color: #abe9b3;
	border-top: 2px solid #abe9b3;
	border-bottom: 2px solid #abe9b3;
}
#tags button:hover {
	color: #fae3b0;
	border-color: #e8a2af;
	transition: none;
}
#tags button.focused:hover {
	color: #e8a2af;
}
#workspaces button {
	background-color: #1e2021;
	color: #b5e8e0;
	padding: 2px 0 0 0;
	margin: 4px 2px 0 2px;
	font-family: feather;
	font-size: 10px;
	min-width: 32px;
}
#workspaces button:hover {
}
#workspaces button.focused {
}
#workspaces button.urgent {
}

#window,
#workspaces {
}

.modules-left > widget:first-chilt > #workspaces {
}

.modules-right > widget:first-chilt > #workspaces {
}

#network {
}

#pulseaudio {
}

#battery {
}

#backlight {
}

#clock {
}

#memory {
}

#temperature {
}

#cpu {
}

#tray {
}

#custom-launcher {
}

#custom-power {
}
